<div class="container">
  <h1>Create New Post</h1>

  <form [formGroup]="postForm" (ngSubmit)="createPost()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" name="text" class="form-control" formControlName="title">
      <div *ngIf="postForm.get('title').hasError('required')" class="alert alert-danger">
        Please enter a title!
      </div>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <input type="text" name="body" class="form-control" formControlName="body">
      <div *ngIf="postForm.get('body').hasError('required')" class="alert alert-danger">
        Please enter a body!
      </div>
    </div>
    <a routerLink="/posts/home" class="btn btn-primary">Back</a>
    &nbsp;
    <button class="btn btn-success" [disabled]="!postForm.valid">Create</button>
  </form>
</div>
