<div class="container">
  <h1>
    List of Posts
  </h1>
  <hr>
  <button [routerLink]="['/posts/create']" class="btn btn-success">Create</button>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.body }}</td>
          <td>
            <a [routerLink]="['/posts/details', post.id]" class="btn btn-primary">View</a>
            &nbsp;
            <a [routerLink]="['/posts/edit', post.id]" class="btn btn-success">Edit</a>
            &nbsp;
            <button class="btn btn-danger" (click)="deletePost(post.id)">Delete</button>
          </td>
        </tr>
    </tbody>
  </table>
</div>
